/*** 
=============================================
    Partner Area Css
=============================================
***/
.partner-area {
  position: relative;
  display: block;
  margin-top: 10px;
  background-color: #ffffff;
  z-index: 10;
}

.partner-area__sec-title {
  position: relative;
  display: block;
  text-align: center;
  z-index: 1;
}

.partner-area__sec-title:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #d5d4d3;
}

.partner-area__sec-title h3 {
  color: var(--thm-base);
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.partner-area__sec-title h3 span {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px;
}

.brand-content {
  position: relative;
  display: block;
  padding: 27px 0 30px;
}

.single-partner-logo-box {
  position: relative;
  display: block;
  text-align: center;
  border: 1px solid #ffffff;
  z-index: 1;
}

.single-partner-logo-box:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #032d61;
  transform: perspective(400px) scaleX(0);
  transform-origin: center;
  transition: all 500ms ease;
  z-index: -1;
}

.single-partner-logo-box:hover:before {
  transform: perspective(400px) scaleX(1);
}

.single-partner-logo-box a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0px 0 0px;
}

.single-partner-logo-box a img {
  position: relative;
  display: inline-block !important;
  opacity: 1;
  width: auto !important;
  transition: all 0.2s ease-in-out 0.1s;
  mix-blend-mode: screen;
}

.single-partner-logo-box:hover a img {
  opacity: 0.9;
  transition: all 0.8s ease-in-out 0.1s;
}

/*** 
=============================================
    Partner Style2 Area Css
=============================================
***/
.partner-style2-area {
  position: relative;
  display: block;
  background-color: #e7edf3;
  z-index: 10;
}

.partner-style2-area .brand-content {
  border-top: 1px solid #bebebe;
  padding: 75px 0 75px;
}

.partner-style2-area .single-partner-logo-box {
  border: 0px solid #ffffff;
}

.partner-style2-area .single-partner-logo-box a {
  background-color: #e7edf3;
}

.partner-style2-area .single-partner-logo-box a img {
  opacity: 1;
  mix-blend-mode: multiply;
}

/*** 
=============================================
    Partner Style3 Area Css
=============================================
***/
.partner-style3-area {
  position: relative;
  display: block;
  margin-top: -6px;
  background-color: #e7edf3;
  z-index: 10;
}

.partner-style3-area__sec-title {
  position: relative;
  display: block;
  text-align: center;
  z-index: 1;
}

.partner-style3-area__sec-title:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #d5d4d3;
}

.partner-style3-area__sec-title h3 {
  color: var(--thm-base);
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.partner-style3-area__sec-title h3 span {
  position: relative;
  display: inline-block;
  background-color: #e7edf3;
  padding: 0 20px;
}

.partner-style3-area .brand-content {
  padding: 67px 0 70px;
}
